<IfModule mod_rewrite.c>

RewriteEngine on

#RewriteBase /

RewriteRule ^latest\/([A-Za-z0-9\_\-]+)(?:\/download)?\/?$ download.php?$1

RewriteRule ^latest\/([A-Za-z0-9\_\-]+)\/info\/?$ index.php?$1

</IfModule>
